@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

:root {
    font-family: "PT Sans", sans-serif;
    --brown-color: #756157;
    --blue-color: #82B3D3;
    --green-color: #7DB54F;
    --black-color: #000000;
    --dark-grey-color: #333333;
    --error-color: #FF5757;
    --brown-hover-color: #615048;
    --blue-hover-color: #68A2CA;
    --green-hover-color: #6C9E42;
    --dark-blue-color: #3F5E72;
}

body {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-grey-color);
    background-color: #f2f2f2;
    width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.page-container {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 30px;
    padding: 0 70px;
    align-items: center;
}

.navigation-logo {
    display: block;
    width: 138px;
    height: 64px;
    z-index: 1;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation-list, .navigation-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
}


.navigation-link,
.navigation-list-icon {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

.navigation-button-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: var(--brown-color);
    color: #ffffff;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    cursor: pointer;
}

.search-icon:before {
    background: url(../images/search.svg);
}

.likes-icon:before {
    background: url(../images/heart.png);
}

.likes-number {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    background-color: var(--green-color);
    color: #ffffff;
}

.hero {
    background-image: url("../images/divider.png"), url("../images/index-background.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, left top;
    background-color: var(--blue-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.hero-image {
    margin: 0 auto;
}

.advantages {
    margin-top: 69px;
}
.wrapper {
    max-width: 660px;
    margin: 0 auto;
    padding-bottom: 69px;
    margin-bottom: 21px;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.list-picture-item {
    grid-column-start: 1;
    grid-column-end: -1;
}

.list-column-item {
    margin: 0;
}

.header-block {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--black-color);
    text-align: center;
    padding-bottom: 25px;
}

.list-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 30px;
}

.text-block {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.inner-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    text-align: center;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0 85px;
}

.list-item {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 112px 85px;
}

.list-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

.list-picture-item {
    background-color: var(--blue-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-reverse {
    flex-direction: row-reverse;
}

.list-item-wrapper {
    padding: 0 85px;
}

.list_header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.list-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.text-picture, .header-picture {
    color: #ffffff;
}

.reason-wrapper {
    max-width: 505px;
    margin: 0 auto;
    padding: 64px 0;
}

.reasons-list {
    display: flex;
    flex-direction: row;
}

.service-icon-house:before {
    background-image: url("../images/Advantage-icon-home.svg");
}

.service-icon-burger {
    background: none;
}

.service-icon-burger:before {
    background-image: url("../images/Advantage-icon-burger.svg");
}

.service-icon-gift:before {
    background-image: url("../images/Advantage-icon-gift.svg");
}

.search {
    margin: 0 auto;
    max-width: 592px;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
}

.search-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: var(--brown-color);
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin: 54px 108px 0 108px;
}

.subscribe {
    background-image: url("../images/Subscribe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
}

.subscribe-wrapper {
    max-width: 684px;
    margin: 0 auto;
    padding: 96px 0 104px 0;
    display: flex;
    flex-direction: column;
}

.subscribe-form {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
}


.header-subscribe, .text-subscribe {
    color: #ffffff;
}

.subscribe-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: var(--blue-color);
    color: #ffffff;
}

.page-footer {
    display: flex;
    column-gap: 30px;
    padding: 40px 70px 30px;
    align-items: center;
}


.social-link &::before {
  content: " ";
  width: 47px;
  height: 40px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--blue-color);
  }

.vk-link:before {
    mask-image: url("../images/vk.svg");
}

.telegram-link:before {
    mask-image: url("../images/telegram.svg");
}

.youtube-link:before {
    mask-image: url("../images/youtube.svg");
}

.contact {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--black-color);
    text-decoration: none;
    text-align: center;
}

.author-logo:before {
    background: url("../images/logo_htmlacademy.svg");
}

.filter {
    background-image: url("../images/filter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
}

.breadcrumbs-list {
    display: flex;
    flex-direction: row;
    margin: 8px 0 40px 0;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 70px;
}

.catalog-filter-group {
    display: flex;
    flex: 0 1 150px;
    margin: 0;
    padding: 0;
    border: 0;
}

.filter-wrapped {
    display: flex;
    flex-direction: column;
    padding: 30px 70px 70px 70px;
    align-items: flex-start;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
}

.main-icon::before {
    mask-image: url("../images/home.svg");
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.controls {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.filter-button, .more-button, .favorite-card {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #82b2d300;
    color: #ffffff;
}

.active-filter-button {
    background-color: #82B3D3;
    color: #ffffff;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    column-gap: 30px;
    padding: 50px 70px 0 70px;
}

.catalog-info {
    display: flex;
    flex-direction: row;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    margin: 40px 0 80px;
    padding: 0;
}

.catalog-item {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: min-content 1fr;
    gap: 16px 20px;
    padding: 20px;
    border-radius: 4px;
    outline: 1px solid #E6E6E6;
}

.catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--black-color);
}

.catalog-select {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark-grey-color);
    background-color: #ffffff;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--black-color);
}

.catalog-card-link {
    text-decoration: none;
    grid-column-start: 1;
    grid-column-end: -1;
}

.card-description, .card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark-grey-color);
}

.more-button {
    background-color: var(--brown-color);
    text-decoration: none;
}

.favorite-card {
    background-color: var(--blue-color);
}

.pagination {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: var(--blue-color);
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
}

.pagination-link-current {
    background-color: #f2f2f2;
    color: #000000;
}

.pagination-more {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    background-color: #ffffff;
}

.subscribe-without-back {
    background: none;
}
